{{>adminheader}}
<!DOCTYPE html>
<html>
  <head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>
      .narrow-container {
        border-radius: 8px;
        max-width: 500px;
        margin: 0 auto;
        border: 2px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="narrow-container mt-5">
      <h1 class="text-center my-5">Add Banner</h1>
      <form action="/admin/add_banner" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
          <label for="link">Link URL:</label>
          <input type="text" class="form-control" id="link" name="link" required>
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" class="form-control-file" id="image" name="image" required>
        </div>
      
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="active" name="active" checked>
          <label class="form-check-label" for="active">Active</label>
        </div>
        <button type="submit" class="btn btn-primary">Add Banner</button>
      </form>
    </div>
    
    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>



