.form-group {
    margin-bottom: 1.5rem;
  }
  form {
    border: 1px solid #f83535;
    padding: 30px;
    border-radius: 20px;
    /* background-image: linear-gradient(to bottom, #d5f17f, #f47061); */
    box-shadow: 15px 20px 20px 20px rgb(170, 170, 170);
  }
  
  .form-control {
    border: 1px solid #bad7f4;
    border-radius: 1rem;
  }
  .form-control:focus {
    border-color: #8d72ff;
    box-shadow: none;
  }
  label{
    color: #252323;
    font-size: larger;
    font-weight: 600;
  }
  
  .form-control-file {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffffc6;
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
  }
  
  .form-control-file:focus {
    border-color: #8d72ff;
    box-shadow: none;
  }
  
  .input-group-text {
    border: 1px solid #ced4da;
    border-radius: 1rem;
    background-color: #ffffffc6;
    color: #495057;
  }
  
  .btn-primary {
    background-color: #ee5630;
    border-color: #8d72ff;
    border-radius: 0;
  }
  
  .btn-primary:hover {
    background-color: #6f42c1;
    border-color: #6f42c1;
  }
span{
    font-weight: 600;
    color: #eb18ba;
}
.error-message{
  color: red;
}