<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #f2f2f2;
        }

        .login-form {
            margin-top: 50px;
        }

        .login-form form {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        .login-form h2 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .login-form input[type="email"],
        .login-form input[type="password"] {
            background-color: #f2f2f2;
            border: none;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .login-form input[type="email"]:focus,
        .login-form input[type="password"]:focus {
            background-color: #e6e6e6;
        }

        .login-form .form-group {
            position: relative;
        }

        .login-form .form-group i {
            position: absolute;
            top: 13px;
            left: 10px;
            font-size: 18px;
            color: #999;
        }

    </style>
</head>
<body>
    
 
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-form">

                    <form action="/forgotpassword" method="post">

                    <h6 style="color: red;" class="text-center mb-5">{{mailError}}</h6>

                        <h4 class="text-center mb-4">Enter your email</h4>
                         <div class="form-floating mb-3 input-control">
                            <label for="email">Email :</label>
                           <input type="text" class="form-control" id="email" placeholder="Enter your email" name="email" required>
                          
                        </div>
                        <div class="text-center">
                             <button type="submit" class=" mt-2 btn btn-primary btn-lg">Submit</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
